<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
  <bean id="logic" class="com.svashishtha.ws.ComplexLogicImpl"/>
  <bean id="serviceImpl" class="com.svashishtha.ws.ComputeServiceImpl">
    <property name="logic" ref="logic" />
  </bean>
  <jaxws:endpoint id="endPoint1" address="/p1"
    implementor="#serviceImpl">
  </jaxws:endpoint>
</beans>